{% extends 'rental/base.html' %}
{% load static %}
{% block content %}
<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Harga</h1>
        <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this
            Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
        </p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow border-secondary">
                <div class="card-header py-3 text-white bg-secondary border-secondary">
                    <h4 class="my-0 fw-normal">Toyota Innova</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp550k<small class="text-muted fw-light">/hari</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Tipe: MPV</li>
                        <li>Seat: 8 orang</li>
                        <li>Transmisi: Manual</li>
                        <li>AC: Double blower</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-secondary">Lihat detail</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Mitsubishi Pajero</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp1800k<small class="text-muted fw-light">/hari</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Tipe: SUV</li>
                        <li>Seat: 4 orang</li>
                        <li>Transmisi: Manual</li>
                        <li>AC: Double blower</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Lihat detail</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow border-warning">
                <div class="card-header py-3 text-white bg-warning border-warning">
                    <h4 class="my-0 fw-normal">Toyota Alphard</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">Rp3250k<small class="text-muted fw-light">/hari</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Tipe: Luxury car</li>
                        <li>Seat: 5 orang</li>
                        <li>Transmisi: Matic</li>
                        <li>AC: Double blower</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-warning text-white">Lihat detail</button>
                </div>
            </div>
        </div>
    </div>

    <h2 class="display-6 text-center mt-5 mb-4">Daftar mobil lainnya</h2>

    <div class="table-responsive mb-5">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width: 40%;">Merek/Model</th>
                    <th style="width: 15%;">Seat (orang)</th>
                    <th style="width: 15%;">Driver</th>
                    <th style="width: 15%;">BBM</th>
                    <th style="width: 15%;">Harga (Per 12 jam)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-start">Toyota Avanza/Daihatsu Xenia</th>
                    <td>
                        <div class="fw-bold">5</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td></td>
                    <td>
                        <div class="fw-bold">Rp450.000</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Toyota Innova</th>
                    <td>
                        <div class="fw-bold">8</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td></td>
                    <td>
                        <div class="fw-bold">Rp550.000</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Mitsubishi Pajero</th>
                    <td>
                        <div class="fw-bold">4</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <div class="fw-bold">Rp1.800.000</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Toyota Camry</th>
                    <td>
                        <div class="fw-bold">4</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <div class="fw-bold">Rp3.000.000</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Toyota Alphard</th>
                    <td>
                        <div class="fw-bold">8</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <div class="fw-bold">Rp3.500.000</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Toyota Hiace</th>
                    <td>
                        <div class="fw-bold">14</div>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check" />
                        </svg>
                    </td>
                    <td>
                        <div class="fw-bold">Rp1.250.000</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}